<div class="footer">
    <p class="copyright-text">This project is made and designed by Anup Banskota || THE ODIN PROJECT © <script>document.write(new Date().getFullYear())</script>. All right reserved!</p>
</div>