<html>
    <body>
        <form action="/new" method="post">
            <h1>Leave a message here</h1>
            <label for="authorName">Author Name </label>
            <input type="text" name="messageUser" placeholder="Author Name">
            <label for="message">Message</label>
            <textarea name="messageText" id="message" cols="80" rows="20"></textarea>
            <button type="submit">Submit</button>
        </form>
    </body>
</html>