<div class="header">
            <div class="logo-text">
                <h2>Mini Message Board</h2>
            </div>
            <div class="btn-new-msg">
                <a href="/new"><button class="btn-new">New Message</button></a>
            </div>
</div>